<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tv show form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/show_form.css' %}">
</head>

<body>
    <header>
        <p><a href="{% url 'all_shows' %}">Go Back</a></p>
    </header>
    <form action="/shows/create" method="post">
        {% csrf_token %}
        <h2>Add a New Show</h2>
        <p>
            Title
            <input type="text" name="title">
        </p>
        <div>
            <p>
                Network
                <input type="text" name="network">
            </p>
            <p>
                Release Date
                <input type="date" name="rel_date">
            </p>
        </div>
        <p>Description: <textarea name="desc" cols="40" rows="6"></textarea></p>
        <button type="submit">Create</button>
    </form>
</body>

</html>