* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}
#calculator {
    background-color: darkslategray;
    width: 250px;
    padding: 15px;
    margin: 0 auto;
    position: relative;
    top: 30px;
}
.row {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button {
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(122, 253, 133);
    color: #fff;
    border: 1px solid silver;
    cursor: pointer;
}

#display {
    color: #fff;
    font-size: 40px;
    text-align: left;
    margin: 10px;
    overflow:hidden;
    border: 2px solid darkorange;
    padding: 0px 5px 0px 5px;
}
.operator {
    background-color: darkorange;
    font-size: 34px;
}
#equals{
    width: 230px;
    border-radius: 20px;
}