
.container{
    width: 950px;
    background-color: silver;
    margin: 20px;
    padding: 20px;
}
.top-nav {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 150px;
    background-color: green;
}
.side-nav {
    display: inline-block;
    margin: 10px;
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-top: 0px;
}

.main {
    padding-right: 20px ;
    display: inline-block;
    height: 400px;
    width: 700px;
    background-color: red;
    vertical-align: top;
}
.sub-content {
    display: inline-block;
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 10px;
    margin-right: 0px;
}
#advertisement {
    margin: 10px;
    height: 120px;
    width: 660px;
    background-color: purple;
}