.container {
    padding: 20px;
    width: 950px;
    background-color: silver;
    margin: 0px auto;
}
.top-nav {
    margin-bottom: 20px;
    height: 150px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
}
.main {
    margin-left: 20px;
    padding: 20px 0px 0px 20px;
    height: 400px;
    width: 710px;
    background-color: red;
}
.sub-content {
    margin-right: 10px;
    height: 200px;
    width: 210px;
    background-color: yellow;
}
#advertisement {
    margin-top: 30px;
    display: block;
    height: 120px;
    width: 650px;
    background-color: purple;
}
.row {
    display: flex;
    /* TODO - what should go here? */
}
