<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Details</title>
</head>
<style>
    body {
        margin: 30px 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
    select{
        margin-top: 30px;
        height: 35px;
        font-size: 16px;
    }
    button{
        height: 35px;
        font-size: 16px;
        width: 80px;
    }
    button:hover{background-color: rgb(211, 211, 211);}
</style>

<body>
    <h2>{{author.first_name}} {{author.last_name}}</h2>
    <p>ID: {{author.id}}</p>
    <p>Notes: {{author.notes}}</p>

    <p>Books:</p>
    <ul>
        {% for book in author.books.all%}
        <li>{{book.title}}</li>
        {% endfor %}
    </ul>
    <form action="/sel_book/{{author.id}}" method="post">
        {% csrf_token %}
            <select name="book_select">
                {% for book in all_books %}
                    <option value="{{book.id}}">{{book.title}}</option>
                {% endfor %}
            </select>
        <button type="submit"> Add </button>
    </form>
</body>

</html>