<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/authors_books.css' %}">
</head>
<body>
    <form action="add_book" method="post">
        {% csrf_token %}
        <h2> Add a Book</h2>
        <p>Title: <input type="text" name="title"></p>
        <p>Description: <textarea name="desc" cols="35" rows="6"></textarea></p>
        <button type="submit"> Add </button>
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td><a href="{% url 'books_view' id_from_anchor=book.id %}">View</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>