<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>play ground</title>
    <link rel="stylesheet" href="playground.css">
    <style>
        * {
            padding: 0px;
            margin: 0px;
        }

        body {
            width: 1200px;
            margin: 0px auto;
        }

        h2 {
            margin: 70px 0px 40px 0px;
            font-size: 36px;
            text-align: center;
        }
    </style>
</head>

<body>
    <h2>Welcome!</h2>
    <main>
        {% for x in range(num_times): %}
        <div class="box" style="width: 250px;
                                    height: 250px;
                                    background-color: skyblue;
                                    margin: 15px 15px;
                                    border: 3px solid black;
                                    display: inline-block">
        </div>
        {% endfor %}
    </main>
</body>

</html>