<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<style>
    form {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: 20px 0px;
    }

    button {
        width: 100px;
        margin-top: 10px;
    }
    input{
        margin-bottom: 10px;
    }
</style>

<body>
    <div class="container-sm">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <form action="/register" method="post">
                    {% csrf_token %}
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" name="first_name" id="first_name">

                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" name="last_name" id="last_name">

                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" id="email">

                    <label for="birthday">Birthday</label>
                    <input type="date" name="birthday" id="birthday">

                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password">

                    <label for="confirm_pw">Confirm PW</label>
                    <input type="password" class="form-control" name="confirm_pw" id="confirm_pw">

                    <button type="submit" class="btn btn-success btn-sm">Register</button>
                </form>
                {% if request.session.error_from == 'register'%}
                {% if messages %}
                <div class="alert alert-danger alert-dismissible fade show" style="width: 300px;">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endif %}
            </div>

            <div class="col-md-5">
                <form action="login" method="post">
                    {% csrf_token %}
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" id="email2">

                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password2">

                    <button type="submit" class="btn btn-success btn-sm">Log in</button>
                </form>
                {% if request.session.error_from == 'login'%}
                {% if messages %}
                <div class="alert alert-danger alert-dismissible fade show" style="width: 300px;">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>