<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{url_for ('static', filename='css/checkerboard.css')}}">

</head>

<body>
    <main>
        {% for x in range(rows): %}
            {% for y in range(columns): %}
                {% if (x+y)%2 == 0  %}
                <div class="box"  style="background-color:{{color1}}">
                </div>
                {% else %}
                <div class="box"  style="background-color:{{color2}}">
                </div>
                {% endif %}
            {% endfor %}
            <br>
        {% endfor %}
    </main>
</body>

</html>