@charset "ISO-8859-1";
*{
    font-family: cursive;
}

body{
    width: fit-content;
    margin: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
}
.gold{
    width: 150px;
    font-size: 22px;
    border: 2px solid;
    height: 30px;
    margin-left: 20px;
    padding-left: 10px;
}
main{
    display: flex;
}
p{
    font-size: 23px;
    
}

button{
    width: 130px;
    height: 35px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    font-size: 18px;
    margin-top: 30px;
}
div{
    width: 280px;
    height: 260px;
    margin: 0px 10px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h2{
    text-align: center;
    font-size: 30px;
}
section{
    border: 2px solid black;
    width: inherit;
    height: 160px;
    margin: 0px 10px;
    overflow: auto;
}
section p{
    font-size: 18px;
    margin: 5px 20px;
}
header>p, footer>p{
	margin-left:20px;
}
footer>p{
	margin-left:20px;
	margin-bottom: 0px;
}
